
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

 #map {
      height: 100%; width: 100vw; 
    }
      
    .preloader
    {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    z-index: 9999;
    text-align: center;
    }

    .preloader-icon
{
position: relative;
top: 45%;
width: 100px;
border-radius: 50%;
animation: shake 1.5s infinite;
}

@keyframes shake
{
0% { transform: translate(1px, -1px) rotate(0deg);}
10% { transform: translate(1px, -3px) rotate(-1deg);}
20% { transform: translate(1px, -5px) rotate(-3deg);}
30% { transform: translate(1px, -7px) rotate(0deg);}
40% { transform: translate(1px, -9px) rotate(1deg);}
50% { transform: translate(1px, -11px) rotate(3deg);}
60% { transform: translate(1px, -9px) rotate(0deg);}
70% { transform: translate(1px, -7px) rotate(-1deg);}
80% { transform: translate(1px, -5px) rotate(-3deg);}
90% { transform: translate(1px, -3px) rotate(0deg);}
100% { transform: translate(1px, -1px) rotate(-1deg);}
}

.select-container {
    position:absolute;
    top:10px;
    left:50%;
    transform:translate(-50%,0);
    width:200px;
    z-index:999
}

.container-fluid {
    display:flex
}

@media only screen and (max-width:500px) {
    #countries {
        width:150px
    }
}