html, body, #map {
  height:100%;
  width:100%;
  padding:0px;
  margin:0px;
}

#map {
  float: left;
  z-index: 1;
  position: relative;     
}


.preloader
{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100vh;
background: #fff;
z-index: 9999;
text-align: center;
}

.preloader-icon
{
position: relative;
top: 45%;
width: 100px;
border-radius: 50%;
animation: shake 1.5s infinite;
}

@keyframes shake
{
0% { transform: translate(1px, -1px) rotate(0deg);}
10% { transform: translate(1px, -3px) rotate(-1deg);}
20% { transform: translate(1px, -5px) rotate(-3deg);}
30% { transform: translate(1px, -7px) rotate(0deg);}
40% { transform: translate(1px, -9px) rotate(1deg);}
50% { transform: translate(1px, -11px) rotate(3deg);}
60% { transform: translate(1px, -9px) rotate(0deg);}
70% { transform: translate(1px, -7px) rotate(-1deg);}
80% { transform: translate(1px, -5px) rotate(-3deg);}
90% { transform: translate(1px, -3px) rotate(0deg);}
100% { transform: translate(1px, -1px) rotate(-1deg);}
}

.overlay2 {
  
  height: 60px;
  width: 100%;
  position: absolute;
  float: top;
  z-index: 2;
  
  
  pointer-events: auto;   
}


h3 {
  padding-left: 1rem;
}
#selCountry{
  border-radius: 5px;
  text-align: left;
  border-color: white;
}

#btnRun{
  margin-left: .5rem;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  font-weight: bold;
  border-radius: 5px;
  color: blueviolet;
}

.test {
  height: fit-content;
  width: fit-content;
  position: absolute;
  float: top;
  z-index: 2;
  margin-left: 40%;
  margin-top: 5px;
  
  
  pointer-events: auto;  
}



/* .leaflet-control-zoom {
  position: absolute; 
  
} */

/* Modal */

.modal-title {
  margin-left: auto;
  margin-right: auto;
  
}

.modal-body {

  overflow-y: auto;

}


/*  buttons */

#btnrun {
  padding: 0;
  width: 32px;
  height: 37px;
  line-height: 0px;
}

/* .div.leaflet-bar.easy-button-container.leaflet-control {
  margin-top: 150px !important;
} */



.nav-link {
  color: blueviolet;
}


#modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  
  border-radius: 0.3rem;
  outline: 0;
}

.btn-secondary {
  color: #fff;
  background-color: blueviolet !important;
  border-color: white !important;
  padding: 0% !important;

}

#bootstrap-overide {
  text-transform: capitalize;
}

@media only screen and (max-width: 600px) {
  #selCountry {
    
      border-radius: 5px;
      text-align: center;
      border-color: white;
    
  }
}

/* .leaflet-popup-content {
  margin: 13px 19px;
  line-height: 1.4;
  text-align: center;
} */

/* .leaflet-top .leaflet-control {
  margin-top: 50px;
} */