html, body, #map {
  height:100%;
  width:100%;
  padding:0px;
  margin:0px;
  
}

#map {
  float: left;
  z-index: 1;
  position: relative;     
}


.preloader
{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100vh;
background: #fff;
z-index: 9999;
text-align: center;
}

.preloader-icon
{
position: relative;
top: 45%;
width: 100px;
border-radius: 50%;
animation: shake 1.5s infinite;
}

@keyframes shake
{
0% { transform: translate(1px, -1px) rotate(0deg);}
10% { transform: translate(1px, -3px) rotate(-1deg);}
20% { transform: translate(1px, -5px) rotate(-3deg);}
30% { transform: translate(1px, -7px) rotate(0deg);}
40% { transform: translate(1px, -9px) rotate(1deg);}
50% { transform: translate(1px, -11px) rotate(3deg);}
60% { transform: translate(1px, -9px) rotate(0deg);}
70% { transform: translate(1px, -7px) rotate(-1deg);}
80% { transform: translate(1px, -5px) rotate(-3deg);}
90% { transform: translate(1px, -3px) rotate(0deg);}
100% { transform: translate(1px, -1px) rotate(-1deg);}
}

.overlay2 {
  
  height: 60px;
  width: 100%;
  position: absolute;
  float: top;
  z-index: 2;
  
  
  pointer-events: auto;   
}

* {
  font-weight: 300;
}

h1,h2,h3,h4,h5 {
  font-weight: 300;
} 


h3 {
  padding-left: 1rem;
}
#selCountry{
  border-radius: 5px;
  text-align: left;
  border-color: white;
  border: 2px solid rgba(0,0,0,0.2);
}

#info-button {
  color: #1b75bb;
}

#covid-button {
  color: #94d56a;
}

#holiday-button {
  color: #a23337;
}

#news-button {
  color: #90278e;
}

#weather-button {
  color: #f0cb3e;
}

#video-button {
  color: red;
}

#flag-button {
  color: #aeb6df
}

#exampleModal .modal-header {
  background-color: #1b75bb;
  color: #fff;
}


#covidModal .modal-header {
  background-color: #94d56a;
  color: #fff;
}

.covid-icon {
  text-align:center
}

.covid-icon .svg-inline--fa {
  width:3rem;
  height:3rem;
  margin-top:1.5rem;
  color:#94d56a;
}

.info-icon {
  text-align:center
}

.info-icon .svg-inline--fa {
  width:3rem;
  height:3rem;
  margin-top:1.5rem;
  color:#1b75bb;
}

#flag {
  text-align: center;
  
}

#flag-img {
  max-width: 100% !important;
  max-height: 100% !important;
}

.title {
  font-weight: bold !important;
}

.wiki-icon {
  height: 3rem!important;
  width: 3rem!important;
  border:3px solid #b2bae1!important;
  border-radius: 10px!important;
  padding: 0.5rem!important;
  color: #00f!important;
  margin-top: 0.1rem!important;
  background-color: #e1e1e1;
}

#holidayModal .modal-header {
  background-color: #a23337;
  color: #fff;
}

.holiday-icon {
  text-align:center
}

.holiday-icon .svg-inline--fa {
  width:3rem;
  height:3rem;
  margin-top:1.5rem;
  color: #a23337;
}

#holiday-body {
  text-align: center;
  overflow:auto;
}

#newsModal .modal-header {
  background-color: #90278e;
  color: #fff;
}

.news-icon {
  text-align:center
}

.news-icon .svg-inline--fa {
  width:3rem;
  height:3rem;
  margin-top:1.5rem;
  color: #90278e;
}

#news-body {
  padding:0;
  max-height:75vh;
  overflow:auto;
  display:inline-block
}

.no-news {
  text-align:center;
  padding:1rem
}

.news-card {
  border:2px solid #fff
}

h5.card-title {
  font-weight: 400;
}

#weatherModal .modal-content {
  color:#fff
}

#weatherModal .modal-footer,#weather-modal .modal-header {
  background-color:#f0cb3e
}

.modal-header {
  background-color:#f0cb3e
}
#weatherModal .modal-body {
  background-color:white;
  color:#404040;
  text-align: center;
}

.todays-weather-container {
  display:flex;
  justify-content:space-evenly
}

.today-weather-one {
  text-align:center
}

#today-weather-icon {
  width:5em;
  border:2px solid #404040;
  border-radius:50px;
  background-color:#fffaf0
}

.today-weather-two {
  display:flex;
  flex-direction:column-reverse
}

.today-weather-three {
  display:flex;
  align-items:flex-end;
  padding-bottom:1.1rem
}

.weather-modal-footer {
  flex-wrap:nowrap;
  justify-content:space-between;
  padding:0
}

#today-weather-type {
  text-transform: capitalize;
}

.forecast-container {
  text-align: center;
  justify-content:center;
  width:25%;
  border-right:1px solid #fff;
  padding-right:.2em;
  background-color: #f0cb3e;
  
}

.forecast-container:last-child {
  border-right:none
}

.forecast-one {
  text-align:center
}

.forecast-one h5 {
  white-space:nowrap;
  font-size:1.1rem
}

.forecast-two {
  display:flex;
  flex-direction:column-reverse
}

.forecast-two p:nth-child(1) {
  margin-bottom:0
}

.forecast-two p:nth-child(2) { 
  margin-bottom:.5rem
}

#videoModal .modal-body {
  text-align: center;
}

#my-iframe {
  width: 100%;
  height: 22rem;
}

#flagModal .modal-header {
  background-color: #aeb6df;
  color: #fff;
}


.test {
  position:absolute;
  top:10px;
  left:50%;
  transform:translate(-50%,0);
  width:200px;
  z-index:999
}


/* Modal */

.modal-title {
 
  margin-right: auto;
  
}

.modal-body {

  overflow-y: auto;

}


/*  buttons */

#btnrun {
  padding: 0;
  width: 32px;
  height: 37px;
  line-height: 0px;
}


.easy-button-button {
  font-size: larger;
}



.nav-link {
  color: blueviolet;
}


#modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 0.3rem;
  outline: 0;
}
 .modal-content {
  border: 0px solid rgba(0,0,0,.2) !important;
 }

.btn-secondary {
  color: rgb(0, 0, 0);
  background-color: white !important;
  border-color: white !important;
  padding: 0% !important;

}

#bootstrap-overide {
  text-transform: capitalize;
}

#country-weather {
  text-transform: capitalize;
}

@media only screen and (max-width: 600px) {
  #selCountry {
    
      border-radius: 5px;
      text-align: center;
      border-color: white;
    
  }
}

 .leaflet-popup-content {
  margin: 13px 19px;
  line-height: 1.4;
  text-align: center;
} 

.leaflet-popup-content-wrapper {
  background: white;
  color: #333;
  box-shadow: 0 3px 14px rgb(0 0 0 / 40%);
  border: 2px solid #b3bbe0;
} 

